name: Deploy to Development

on:
    push:
        branches: [develop]
    workflow_dispatch:

jobs:
    quality-checks:
        name: Quality Checks
        uses: NextNodeSolutions/github-actions/.github/workflows/quality-checks.yml@main
        with:
            run-lint: true
            run-typecheck: true
            run-tests: true
            run-build: true
        secrets: inherit

    deploy:
        name: Deploy to Development
        needs: quality-checks
        uses: NextNodeSolutions/github-actions/.github/workflows/deploy.yml@main
        with:
            environment: 'development'
            app-name: '{{project_name}}'
            base-domain: '{{website_url}}'
        secrets: inherit

    dns:
        name: Update DNS
        needs: deploy
        uses: NextNodeSolutions/github-actions/.github/workflows/dns.yml@main
        with:
            domain: ${{ needs.deploy.outputs.custom-domain }}
            target: ${{ needs.deploy.outputs.cname-target }}
        secrets: inherit